{% extends "base.html" %}
{% block content %}


<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h2 class="display-4 font-italic">ポケモンずかん</h2>
        <p class="lead my-3">クチートだけのポケモン図鑑です。あなたの周りにあるクチートのグッズやイラストが映るようにして、下の「Captureボタン」を押してください。どこにクチートが写っているかを判定して、クチートについて説明してくれます。</p>
        <p class="lead mb-0">
        </p>
    </div>
</div>
<div class="card mb-5">
    <h5 class="card-header">
        下のカメラで、ポケモンを撮影してみてください。
    </h5>
    <div class="card-body">
        <video id="player" controls autoplay width=320 height=240></video>
        <button id="capture" type="button" class="btn btn-primary">Capture</button>
        <p class="card-text mb-auto" id="response">通信状況</p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary" id="no">No</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#" id="name">ポケモン名</a>
                </h3>
                <div class="mb-1 text-muted" id="classification">分類</div>
                <p class="card-text mb-auto" id="explanatory">図鑑説明</p>
                <div class="mb-1 text-muted" id="version">出典</div>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [320x240]" style="width: 320px; height: 240px;" data-holder-rendered="true" id="image">
        </div>
    </div>
</div>

<div class="card mb-5">
    <h5 class="card-header">
        どこにクチートが写っているか、下に表示されるよ。
    </h5>
    <div class="card-body">
        <canvas id="snapshot"></canvas>
    </div>
</div>




{% endblock %}



